* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: #bcbcbc;
    background-color: #383838;
    font-size: 12px;
}

button {
  background: #ffffff20;
  border: solid thin #ffffff40;
  color: inherit;
  font-size: inherit;
  padding: 2px;
}

button:active {
  position:relative;
  top:2px;
}